* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    overflow: hidden;
}

body {
    overflow-y: auto;
    background-color: #ffffff;
}

.nav {
    width: 100%;
    padding: 1% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}

.nav h1 {
    font-size: 32px;
    color: white;
}

.nav button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}

.main {
    width: 100%;
}

#ft_list {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ft_list div {
    background-color: white;
    font-size: 18px;
    padding: 6px 18px;
    border-radius: 6px;
    border: 1px solid blueviolet;
    color: blueviolet;
    box-shadow: 6px 0 12px rgba(0, 0, 0, .3);
    cursor: pointer;
}